@tailwind base;
@tailwind components;
@tailwind utilities;

#social-media > ol > li {
    position: relative;
    margin: 0 18px;
}

#social-media > ol > li:hover {
    transition: transform 125ms ease-in-out;
    transform: scale(115%);
}

#social-media > ol > li:hover::after {
    content: '';
    position: absolute;
    padding: 27px;
    left: 0;
    top: 0;
    transform: translate(-23%, -12%);
    background-color: rgb(59, 57, 57);
    opacity: .2;
    border-radius: 9999px;
    z-index: -1;
}
