@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* 禁用滚动条 */
    overflow: hidden;
}


#bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(49, 49, 49);
    opacity: .5;
    z-index: -1;
}

#social-media > ol > li {
    position: relative;
    margin: 10px 16px;
}